  <div class="container mt-1">
    <footer class="d-flex flex-wrap justify-content-start mx-0 mt-3 w-100 h-50">
      <!--Container tab -->
      <div class="d-flex border-top border-start border-end w-50 mt-2 mx-0">
        <button href="" class="nav-link  w-100 text-center" id="primera">Mas popular</button>
        <button href="" class="nav-link  w-100 text-center" id="anterior">El ideal</button>
        <button href="" class="nav-link  w-100 text-center" id="siguiente">Para cenar</button>
      </div>
      <!--Container images -->
      <div class="container border border-2 w-100 h-50 d-flex mt-0 p-2" id="">
        <a href="productos.php">
          <img src="../media/images/Products/Infantil.jpg" class="img imgOferta mx-5" alt="" id="img1">
        </a>
        <a href="productos.php">
          <img src="../media/images/Products/4-Quesos.jpg" class="img imgOferta mx-5" alt="" id="img2">
        </a>
        <a href="productos.php">
          <img src="../media/images/Products/Carbonara.jpg" class="img imgOferta mx-5" alt="" id="img3">
        </a>
      </div>
    </footer>
  </div>
