
  <aside class="container w-100">
    <div class="border border-dark p-3 w-75 text-start float-end">
      <!--Title-->
      <div>
        <label for="">
          <h2>Iniciar Sesión</h2>
        </label>        
        <hr>
      </div>
      <!--Form login-->
      <div class="container p-2">
        <form action="php/auth/login.php" method="POST">
          <input type="email" name="email" id="jsEmail" placeholder="Email" required class="w-100">
          <br />
          <br />
          <input type="password" name="password" id="boxInput" placeholder="Password" required class="w-100">
          <br />
          <br />
          <div class="container ">
            <input type="checkbox" name="remember" id="">
            <label for="remember">Recuerdame</label>
            <input type="submit" value="Sign In" id="btnLogin" class="btn btn-success w-25 ms-5">
          </div>
        </form>
        <div class="container mt-3">
          <a href="../recuperarPass.html">¿Has olvidado tu contraseña?</a>
        </div>
      </div>
      <!--Redirect to Register-->
      <div class="container my-3">
        <label for="">
          <h3>¿ Aún no estas registrado ?</h3>
        </label>
        <label for="">
          <a href="register.html" class="nav-link mt-2">Registrarme</a>
        </label>
      </div>
    </div>
  </aside>
